/target/classes/target/classes/.idea/.gitignore
/target/classes/challenges/CompareDecimalNumbers.class
/target/classes/target/classes/.idea/compiler.xml
/target/classes/.idea/encodings.xml
/target/classes/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/.idea/jarRepositories.xml
/target/classes/target/classes/.idea/java17Masterclass.iml
/target/classes/target/java17Masterclass-1.0-SNAPSHOT.jar
/target/classes/target/classes/.idea/libraries/junit4.xml
/target/classes/challenges/LeapYear.class
/target/classes/src/main/resources/log4j2.xml
/target/classes/log4j2.xml
/target/classes/target/classes/.idea/misc.xml
/target/classes/target/classes/.idea/modules.xml
/target/classes/challenges/OpChallenge.class
/target/classes/target/maven-archiver/pom.properties
/target/classes/target/classes/pom.xml
/target/classes/target/classes/README.md
/target/classes/challenges/SpeedConverter.class
/target/classes/target/classes/src/src.iml
/target/classes/target/classes/.idea/uiDesigner.xml
/target/classes/target/classes/.idea/vcs.xml
